<!-- SIDEBAR - barra lateral minimalista, solo con boton de toggle-->
<div
    class="sidebar-base"
    [class.sidebar-expanded]="!isSidebarCollapsed"
    [class.sidebar-collapsed]="isSidebarCollapsed"
>
    <div class="sidebar-menu">
        <div class="sidebar-title" *ngIf="!isSidebarCollapsed">Mis interacciones</div>
        <div class="sidebar-item" (click)="onAgregarPregunta()">
            <i class="material-icons sidebar-icon" [class.sidebar-icon-expanded]="!isSidebarCollapsed" [class.sidebar-icon-collapsed]="isSidebarCollapsed">add</i>
            <span class="sidebar-text" [class.sidebar-text-visible]="!isSidebarCollapsed" [class.sidebar-text-hidden]="isSidebarCollapsed">Agregar pregunta</span>
        </div>
        <div class="sidebar-title" *ngIf="!isSidebarCollapsed">Mis preguntas</div>
    </div>
</div>

<!-- BOTON DE COLAPSAR/EXPANDIR con animacion de rotacion-->
 <div
    (click)="toggleSidebar()"
    class="chevron-button"
    [class.chevron-expanded]="!isSidebarCollapsed"
    [class.chevron-collapsed]="isSidebarCollapsed"
>
<!-- icono de chevrones -->
  <svg style="width: 100%; height: 100%;" fill="none" preserveAspectRatio="none" viewBox="0 0 24 24">
    <path d="M15 18L9 12L15 6" stroke="#F3F3F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>

<!-- contenido principal -->
<div
    class="transition-all duration-400"
    [class.content-expanded]="!isSidebarCollapsed"
    [class.content-collapsed]="isSidebarCollapsed"
>

    <div class="crear-container">
        <h1>Crear Cuestionario</h1>
        <p>Selecciona el tipo de pregunta que deseas agregar</p>

        <div class="interaction-grid" [class.animate-cards]="animateCards">

            <!-- Opción múltiple -->
            <div class="interaction-card" (click)="seleccionarTipo('multiple')">
            <div class="card-icon blue">
                <i class="material-icons">check_box</i>
            </div>
            <h3>Opción múltiple</h3>
            </div>

            <!-- Abrir texto -->
            <div class="interaction-card" (click)="seleccionarTipo('abierta')">
            <div class="card-icon teal">
                <i class="material-icons">chat_bubble_outline</i>
            </div>
            <h3>Abrir texto</h3>
            </div>

            <!-- Cuestionario -->
            <div class="interaction-card" (click)="seleccionarTipo('cuestionario')">
            <div class="card-icon orange">
                <i class="material-icons">assignment</i>
            </div>
            <h3>Cuestionario</h3>
            </div>

        </div>
    </div>
</div>
