.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.welcome-content {
  text-align: center;
}

.quizzy-title {
  color: #43a047;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
